* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-Navbar {
    background: #f8f8f8;
    padding-bottom: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.first-nav-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-nav-div input {
    border: 1.2px solid #001;
    padding: 5px 3px;
    width: 35%;
    border-radius: 3px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-nav-div ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: fit-content;
    margin-left: 30px;
    list-style: none;
    margin-bottom: 8px;
}